/* HEADER */

.site-header {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.header-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.header-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.logo-placeholder {
    width: 40px;
    height: 40px;
    background-color: #e5e7eb;
    border-radius: 4px;
}

.company-name {
    font-weight: 600;
    font-size: 1rem;
    color: #10222f;
}

/* NAV links */

.header-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-nav a {
    text-decoration: none;
    font-size: 0.95rem;
    color: #374151;
}

.header-nav a:hover {
    color: #10222f;
}

/* Botão hamburguer (esconde no desktop) */

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #10222f;
}

/* --- RESPONSIVO --- */

@media (max-width: 768px) {
    .header-content {
        flex-wrap: wrap;
    }

    .menu-toggle {
        display: block;
    }

    .header-nav {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.5rem;
        display: none;
        /* escondido por padrão no mobile */
    }

    .header-nav.open {
        display: flex;
        /* aparece quando menuOpen = true */
    }
}

/* HERO COM IMAGEM DE FUNDO */
.hero-section {
    position: relative;
    min-height: 70vh;
    background-image: url("/aeroportoAfonsoPena.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    padding: 3rem 1.5rem;
    background: rgba(16, 34, 47, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* topo (texto) / baixo (legenda) */
}

.hero-content {
    max-width: 800px;
    width: 100%;
    color: #f5f5f5;
}


.hero-button {
    padding: 0.75rem 1.5rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.95rem;
    background-color: #f5f5f5;
    color: #10222f;
}

.hero-button:hover {
    opacity: 0.9;
}

/* LEGENDA – canto inferior, mas sem cortar */
.hero-caption {
    align-self: baseline;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    max-width: 90%;
    text-align: center;
    color: #f9fafb;
    background: rgba(0, 0, 0, 0.45);
    padding: 4px 8px;
    border-radius: 4px;
}

/* Responsivo */
@media (max-width: 600px) {
    .hero-section {
        min-height: 60vh;
    }

    .hero-overlay {
        padding: 2.5rem 1rem;
    }

    .hero-caption {
        font-size: 0.7rem;
        max-width: 100%;
    }
}